# API Backend (Ridwan) — NestJS default port 3001, tanpa global prefix
NEXT_PUBLIC_API_URL=http://localhost:3001

# Payment Gateway (Fajar - Midtrans/Xendit)
NEXT_PUBLIC_PAYMENT_GATEWAY_PUBLIC_KEY=

# Shipment Gateway (Fajar - RajaOngkir/Biteship)
NEXT_PUBLIC_SHIPMENT_GATEWAY_PUBLIC_KEY=
