# API Backend (Ridwan)
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Payment Gateway (Fajar - Midtrans/Xendit)
NEXT_PUBLIC_PAYMENT_GATEWAY_PUBLIC_KEY=

# Shipment Gateway (Fajar - RajaOngkir/Biteship)
NEXT_PUBLIC_SHIPMENT_GATEWAY_PUBLIC_KEY=
